* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: var(--bodyFont);
    color: var(--clr-grey-1);
    padding: 0;
    margin: 0;
    transition: var(--transition);
    background-color: var(--clr-grey-10);
}

header {
    background-color: var(--clr-white);
    padding-bottom: 1em;
    width: 100%;
}

.header-container {
    width: min(90%, 70em);
    display: flex;
    margin: auto;
    align-items: center;
    padding: 3em 0;
    gap: 3em;
}

header .hero {
    width: 50%;
    height: 25em;
}

.header-container .title {
    text-transform: capitalize;
    letter-spacing: 3px;
    margin: 1em 0;
    font-family: var(--headingFont);
}

.header-container .descr {
    text-align: left;
    line-height: 1.75;
    font-size: 1.1em;
}

.header-container .descr a  {
    font-weight: bold;
    text-decoration: underline var(--primary-design) solid .25em;
    font-style: italic;
    color: var(--clr-black);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-top: 2em;
    background-color: var(--grey-200);
    height: available;
    padding-bottom: 2em;
}

.caption {
    position: relative;
    margin-bottom: 1.5em;
    letter-spacing: 2px;
    font-family: var(--headingFont);

}

.caption::after {
    content: "";
    position: absolute;
    text-align: center;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 3em;
    margin-top: .25em;
    border-bottom: .15em solid var(--primary-design);
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: min(90%, 70em);
    gap: 1em;
}

.project {
    width: 30%;
    height: 13em;
    text-align: center;
    margin: 2em .5em;
    border-radius: .5em;
    transition: var(--transition);
    box-shadow: var(--shadow-4);
    cursor: pointer;
    text-decoration: none;
}

.project:hover {
    transform: scale(1.05);
}

.project .preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: .5em;
    border-top-left-radius: .5em;
}

.project .name {
    background-color: var(--clr-white);
    width: 100%;
    text-transform: capitalize;
    padding: .5em;
    font-weight: lighter;
    letter-spacing: 3px;
    border-bottom-right-radius: .5em;
    border-bottom-left-radius: .5em;
    text-decoration: none;
    color: var(--clr-grey-1);
}

footer {
    height: 10vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-links {
    display: flex;
    margin-top: 1em;
    list-style-type: none;
}

.social-links li {
    text-align: center;
    position: relative;
    margin-left: 3em;
    cursor: pointer;
}

.social-links li:first-child {
    margin-left: 0;
}

.social-links li i {
    color: var(--clr-primary-4);
    transition: var(--transition);
}

.social-links li i:hover {
    color: var(--clr-primary-6);
}

.social-links li .tooltip {
    background-color: var(--clr-black);
    color: var(--clr-white);
    border-radius: .5em;
    padding: .5em;
    position: absolute;
    left: 50%;
    top: 105%;
    transform: translateX(-50%);
    transition: var(--transition);
    opacity: 0;
}

.social-links li .tooltip::before {
    content: " ";
    border-width: 5px;
    border-style: solid;
    border-color:  transparent transparent black transparent;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.social-links li:hover .tooltip {
    opacity: 1;
}




@media screen and (max-width: 1172px) {
    .project {
        width: 45%;
    }
}

@media screen and (max-width: 992px) {
    .hero {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    body {
        font-size: 0.9em;
    }

    .project {
        width: 100%;
        height: 16em;
    }
}

@media only screen and (hover: none) and (pointer: coarse) and (max-device-width: 768px){
    body {
        font-size: 0.9em;
    }

    .project {
        width: 100%;
        height: 16em;
    }
    /* Regular CSS rules here*/

}
