* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: var(--ff-secondary);
    color: var(--clr-grey-1);
    padding: 0;
    margin: 0;
    transition: var(--transition);
    background-color: var(--clr-grey-10);
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4.5em;
    gap: 1em;
}

.header {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.gen-form {
    margin-bottom: 1em;
}

.gen-form > * {
     font-size: 1.1em;
 }

.gen-form label {
    letter-spacing: 3px;
    text-transform: capitalize;
}

.gen-form input {
    width: 4em;
    border: 2px solid transparent;
    padding: .25em;
    border-radius: .5em;
}

.gen-form .generate {
    border: none;
    padding: .5em;
    background-color: var(--clr-primary-5);
    border-radius: .5em;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1em;
    margin: .5em;
    transition: var(--transition);
    letter-spacing: 2px;
}

.gen-form .generate:hover {
    background-color: var(--clr-primary-8);
    color: var(--clr-primary-4);
}

.gen-form input:focus {
    border: 2px solid black;
}

.lorem-text {
    width: 50%;
}

.lorem-text > p {
    color: var(--clr-grey-5);
    margin-bottom: 2.5em;
    text-align: center;
}

.lorem-text > p:last-child {
    margin-bottom: 0;
}




@media screen and (max-width: 768px) {
    body {
        font-size: 0.9em;
    }
}



