* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: var(--ff-secondary);
    color: var(--clr-grey-1);
    padding: 0;
    margin: 0;
    background-color: var(--clr-grey-10);
    transition: var(--transition);
}

.content {
    padding-top: 6em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: min(90%, 75em);
    gap: 3em;
}

.content .photo {
    flex: 1;
    object-fit: cover;
    width: 45%;
    height: auto;
}

.content .text {
    flex: 1;
}

.text .title {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--clr-primary-3);
    font-size: 1.75em;
}

.text .giveaway-ending {
    text-transform: capitalize;
    margin-top: .5em;
    margin-bottom: 1.5em;
    letter-spacing: var(--spacing);
}

.text .descr {
    color: var(--clr-grey-6);
    line-height: 1.8;
    margin: 2em 0;
}

.time-left {
    list-style-type: none;
    display: flex;
    margin-top: 1em;
}

.time-left li {
    display: flex;
    padding: .5em;
    letter-spacing: 3px;
    background-color: var(--clr-grey-1);
    color: var(--clr-white);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    width: 5rem;
    height: 5rem;
    font-size: .8em;
    text-transform: uppercase;
}

.time-left li span {
    font-size: 2rem;
    font-weight: bold;
}

.expired {
    text-transform: capitalize;
    letter-spacing: var(--spacing);
}

@media screen and (max-width: 992px) {

    .content {
        flex-direction: column;
        width: 90%;
    }

    .content .photo {
        flex: none;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    body {
        font-size: 0.9em;
    }
}


