body, html {
    height: 100%;
    font-family: var(--ff-secondary);
    color: var(--clr-grey-1);
    background-color: var(--clr-grey-10);
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    box-shadow: 0 2px 10px lightgray;
    padding: 0;
    margin: 0;
}

.title {
    font-size: 2em;
}

.title:first-letter {
    color: var(--clr-primary-6);
}

.sects, .links {
    list-style-type: none;
    display: flex;
    gap: 1em;
    justify-content: center;
}

.sects li {
    font-family: var(--ff-primary);
    letter-spacing: 3px;
    padding-right: .5em;
}

.sects a {
    text-decoration: none;
    color: var(--clr-grey-1);
    transition: var(--transition);
}

.sects a:hover {
    color: var(--clr-primary-5);
}

.links li {
    color: var(--clr-primary-5);
    transition: var(--transition);
}

.links li:hover {
    color: var(--clr-primary-7);
}

