* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-clr: #222327;
    --active-clr: #08FA01;
}

body, html {
    height: 100%;
    font-family: var(--ff-secondary);
    color: var(--clr-grey-1);
    padding: 0;
    margin: 0;
    transition: var(--transition);
    background-color: var(--bg-clr);
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    list-style-type: none;
    display: flex;
    width: min(70em, 80%);
    background-color: var(--clr-white);
    justify-content: space-around;
    padding: 1.5em 1.5em;
    border-radius: 1em;
    position: relative;
}

.sect-bg {
    position: absolute;
    width: 6em;
    height: 6em;
    border-radius: 50%;
    z-index: 1;
    left: 2em;
    top: -50%;
    transition: var(--transition);
    background-color: var(--active-clr);
    border: .5em solid var(--bg-clr);
}

.sect-bg::before {
    content: ' ';
    position: absolute;
    left: -25px;
    top: 50%;
    width: 1.25em;
    height: 1.25em;
    background-color: var(--clr-white);
    border-top-right-radius: 100%;
    box-shadow: 0 -10px 0 0 var(--bg-clr)
}

.sect-bg::after {
    content: ' ';
    position: absolute;
    right: -25px;
    top: 50%;
    width: 1.25em;
    height: 1.25em;
    background-color: var(--clr-white);
    border-top-left-radius: 100%;
    box-shadow: 0 -10px 0 0 var(--bg-clr);

}

.nav li {
    text-align: center;
    z-index: 10;
}

.nav li a {
    text-decoration: none;
    color: var(--bg-clr);
    cursor: pointer;
    position: relative;
}

.nav li a i {
    transition: var(--transition);
    font-size: 1.5em;
    position: relative;
    top: .5em;
}

.nav li a .name {
    opacity: 0;
    position: relative;
    top: 1em;
    transition: var(--transition);
    letter-spacing: 1px;
}

.nav li.active a i {
    top: -1.5em;
    z-index: 10;
}

.nav li.active a .name {
    top: 0;
    opacity: 1;
}
