body, html {
    height: 100%;
    font-family: var(--ff-secondary);
    color: var(--clr-grey-1);
    padding: 0;
    margin: 0;
    background: url("../images/interier.jpeg") no-repeat center fixed;
    background-size: cover;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.dropdown {
    position: absolute;
    top: 2em;
    left: 2em;
    padding: .5em;
    background-color: white;
    border-radius: .5em;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.dropdown * {
    margin: 0;
    padding: 0;
}

.dropdown .sections {
    list-style-type: none;
    transition: var(--transition);
    overflow: hidden;
}

.dropdown .sect-title::after {
    display: block;
    content: "-";
    color: transparent;
    background-color: black;
    width: 0;
    height: 2px;
    transition: var(--transition);
}



.dropdown:hover .sect-title::after {
    width: 100%;
}

.dropdown .sections li {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
    margin: 0;
    padding: 0;
}

.dropdown .sections li a {
    border-radius: .25em;
    border: 2px solid var(--clr-primary-2);
    padding: .25em;
    display: block;
    background-color: var(--clr-primary-6);
    color: white;
    transition: var(--transition);
    text-decoration: none;
}

.dropdown .sections li a.active {
    background-color: lawngreen;
    color: var(--clr-grey-1);
}

.dropdown .sections li:hover a {
    opacity: .8;
}

.dropdown:hover .sections li {
    height: 2em;
    margin-top: .5em;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    transition: var(--transition);
    background-color: var(--clr-primary-6);
    opacity: 0;
}

.modal {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 2em;
    border-radius: .5em;
    box-shadow: 2px 2px 10px lightgray;
    z-index: 10;
    position: relative;
}

.modal .enabled, .modal .disabled {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: 1px solid black;
    padding: 1.5em 5em 3em;
}

.modal:not(.active) .enabled {
    display: none;
}

.modal.active .disabled {
    display: none;
}

.modal .title {
    font-size: 4em;
    letter-spacing: 2px;
}

.enabled .close {
    background-color: transparent;
    border: none;
    color: #910101;
    font-size: 1.5em;
    position: absolute;
    top: calc(2rem - .5em);
    right: calc(2rem - .5em);
    transition: var(--transition);
}

.enabled .close:hover {
    color: red;
    font-size: 2em;
}

.open {
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    background-color: var(--clr-primary-6);
    border: 2px solid var(--clr-primary-6);
    border-radius: 10px;
    padding: .5em;
    transition: var(--transition);
}

.open:hover {
    background-color: white;
    color: var(--clr-primary-6);
}

@media screen and (max-width: 800px) {
    .modal .title {
        font-size: 3em;
    }
}