* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: var(--ff-secondary);
    color: var(--clr-grey-1);
    padding: 0;
    margin: 0;
    transition: var(--transition);
    background-color: var(--clr-grey-10);
}

.content {
    width: 90%;
    max-width: 35rem;
    margin: 15vh auto 0;
    background-color: var(--clr-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    gap: 1em;
    box-shadow: var(--light-shadow);
    border-radius: .5em;
}

.messages {
    width: 100%;
    text-align: center;
}

.messages .message {
    width: 100%;
    text-transform: capitalize;
    letter-spacing: 3px;
    border-radius: .5em;
}

.message.error {
    --clr-red-light: rgba(230, 107, 107, 0.3);
    background-color: var(--clr-red-light);
}

.message.success {
    background-color: var(--clr-green-light);
}

.title {
    margin-top: 1em;
    text-transform: capitalize;
    letter-spacing: 3px;
    font-size: 1.75em;
}

.content form {
    width: 100%;
    display: flex;
    gap: 0;
    justify-content: center;
}

#product {
    width: 85%;
    background-color: var(--clr-grey-10);
    border: 2px solid transparent;
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
    padding: .25rem 1em;
    font-size: 1.1em;
}



form .action {
    width: 15%;
    background-color: var(--clr-primary-8);
    border: none;
    padding: calc(.5em + 1px);
    text-transform: capitalize;
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
    letter-spacing: 2px;
    transition: var(--transition);
    cursor: pointer;
}

form .action:hover {
    background-color: var(--clr-primary-5);
    color: var(--clr-white);
}

.to-buy {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style-type: none;
    padding: 1em 0 .5em;
}

.to-buy li {
    width: 100%;
    transition: var(--transition);
    border-radius: .5em;
    padding: .5em 1em;
    margin-bottom: .5em;
    display: flex;
    justify-content: space-between;
}

.to-buy li:hover {
    background-color: var(--clr-grey-10);
    color: var(--clr-grey-5);
}

.grocery {
    text-transform: capitalize;
    letter-spacing: 2px;
}

.btn-container button {
    background: none;
    border: none;
    cursor: pointer;
    transition: var(--transition);
    padding: 0 .5em;
}

.btn-container .edit {
    color: var(--clr-green-light);
}

.btn-container .edit:hover {
    color: var(--clr-green-dark);
}

.btn-container .delete {
    color: var(--clr-red-light);
}

.btn-container .delete:hover {
    color: var(--clr-red-dark);
}

.clear {
    border: none;
    background: none;
    color: var(--clr-red-light);
    letter-spacing: 3px;
    cursor: pointer;
    transition: var(--transition);
    font-size: 1em;
}

.clear:hover {
    color: var(--clr-red-dark);
}


@media screen and (max-width: 768px) {
    body {
        font-size: 0.9em;
    }
}



