* {
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
    font-family: var(--ff-secondary);
    color: var(--clr-grey-1);
    background-color: var(--clr-grey-10);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: var(--transition);
}

img {
    display: block;
}

.title {
    width: 100%;
    text-align: center;
    font-size: 2.4em;
    margin-top: 3.5rem;
    position: relative;
}

.title::after {
    content: " ";
    width: 5rem;
    border: .15rem solid var(--clr-gold);
    border-radius: 5px;
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translateX(-50%);
}

.filters {
    display: flex;
    list-style-type: none;
    margin: 2em;
}

.filters li {
    padding: .5em;
    margin: 1em 0 1em 1em;
    border-top: 2px solid var(--clr-gold);
    border-left: 2px solid var(--clr-gold);
    border-right: 2px solid darkgoldenrod;
    border-bottom: 2px solid darkgoldenrod;
    border-radius: .5em;
    color: var(--clr-gold);
    transition: var(--transition);
}

.filters li:hover {
    background-color: darkgoldenrod;
    color: white;
}

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: min(100%, 80em);
    gap: .5em;
}

.post {
    width: 45%;
    display: flex;
    margin-bottom: 2em;
}

.post .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px var(--clr-primary-2) dotted;
    margin-bottom: 1em;
}

.header .name {
    letter-spacing: 2px;
    font-size: 1.1em;
}

.header .price {
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 1.4em;
    color: var(--clr-gold);
}

.descr {
    color: var(--clr-primary-3);
}

.photo {
    object-fit: cover;
    height: 10em;
    width: 13em;
    margin-right: 1em;
    border-radius: .5em;
    border: var(--clr-gold) 4px solid;
}

@media screen and (max-width: 1200px) {
     .post {
        width: 100%;
    }

    .content {
        width: 40em;
    }
}

@media screen and (max-width: 768px) {
    .post {
        flex-direction: column;
        width: 60%;
    }

    .photo {
        width: 100%;
        margin-bottom: .5em;
        height: auto;
    }
}

@media screen and (max-width: 500px) {
    body {
        font-size: .8em;
    }
}